doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
    title Bootstrap Theme Simply Me
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    script(src="/javascripts/bootstrap.min1.js")
    script(src="/javascripts/jquery.min1.js")
  body
    block content
